.flex {
  display: flex;
}

.button {
  width: 25%;
  cursor: pointer;
}

.gray {
  background-color: rgb(221, 221, 221);
}

.wide {
  width: 50%;
}

.orange {
  background-color: orange;
}

.height-100 {
  height: 100px;
}

.display {
  width: 700px;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 70px;
  text-align: right;
  padding: 10px;
}

.panel {
  width: 700px;
}
